body {
  background-color: #191765;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 90%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 15px;
}

header a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 32px;
}

header img {
  display: none;
}

.first {
  margin-top: 80px;
  background-image: url(./Tertiary/two\ circles\ header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-head {
  width: 453px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.first-head h1 {
  color: #9390ff;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}

.first-head h2 {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 88px;
  font-size: 40px;
  text-align: center;
}

.first-head p {
  font-size: 20px;
  font-weight: 400;
  color: #b3bac5;
  width: 100%;
  text-align: center;
  line-height: 32px;
}

.first-line {
  width: 100%;
  height: 0;
  background-color: #646369;
  margin-top: 50px;
  color: #646369;
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}

li h4 {
  color: #9390ff;
  font-weight: 700;
  font-size: 18px;
}

.items ul {
  list-style-type: none;
}

.items li {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
}

.first-link {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.link-icons {
  display: flex;
  justify-content: space-between;
}

.group-55 {
  display: flex;
  justify-content: space-between;
}

.group-55 img {
  margin-left: 15px;
  margin-right: 15px;
}

.group-55 p {
  font-size: 20px;
  color: #a2a3ae;
}

@media screen and (max-width: 768px) {
  .first-head h1 {
    font-size: 48px;
  }

  .first-head {
    width: 85%;
  }

  .first-head h2 {
    font-size: 32px;
  }

  .first-head p {
    line-height: 28px;
  }

  .items {
    margin-top: 20px;
    flex-wrap: wrap;
  }

  header ul {
    display: none;
  }

  .items ul {
    width: 50%;
  }

  .work-first {
    display: none;
  }

  .first-link {
    flex-direction: column;
  }

  .group-55 {
    margin-top: 30px;
  }

  header img {
    display: block;
  }

  .first {
    margin-top: 40px;
    background-image: url(./Tertiary/top\ circles.svg);
    background-size: contain;
  }
}

/* Middle Section */
.middle-section-work {
  margin-top: 180px;
  padding-bottom: 60px;
  background-image: url(./Tertiary/Group\ 65.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.middle-section {
  width: 83.3%;
  margin: 0 auto;
}

.stories {
  margin-top: 80px;
  display: grid;
}

.story-left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.rect {
  width: 55%;
  background-color: #fff;
  height: auto;
}

.desc {
  width: 42%;
  padding-left: 15px;
  padding-top: 80px;
}

.middle-section h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  color: #9390ff;
  margin-bottom: 60px;
}

.middle-section-work p {
  font-size: 20px;
  font-weight: 400;
  color: #dfe1e6;
  line-height: 28px;
}

.desc h4 {
  font-weight: 700;
  color: #fff;
  font-size: 40px;
  margin-bottom: 56px;
}

.skills {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.skills p {
  border-right: 1px solid #fff;
  padding-left: 25px;
  padding-right: 25px;
}

.skills p:last-of-type {
  border-right: none;
}

.desc button {
  margin-top: 30px;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 20px;
  background-color: #9390ff;
  border: 1px solid #9390ff;
}

.desc button:hover {
  background-color: #000;
  color: white;
}

@media screen and (max-width: 768px) {
  .story-left {
    margin-bottom: 50px;
    flex-direction: column;
  }

  .middle-section-work {
    margin-top: 80px;
    padding-bottom: 40px;
    background-image: url(./Tertiary/portfolio\ background\ shapes\ mobile.svg);
    background-size: contain;
  }

  .middle-section {
    width: 85%;
    margin: 0 auto;
  }

  .middle-section h3 {
    font-size: 40px;
    text-transform: uppercase;
  }

  .rect {
    width: 100%;
    height: 236px;
  }

  .desc {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }

  .desc h4 {
    font-size: 32px;
  }

  .skills p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }

  .invert {
    flex-direction: column-reverse;
  }
}
